@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	-webkit-overflow-scrolling:touch;

	-webkit-perspective: 1px;
	perspective: 1px;
}

img {
	width: 100%;
}

.parallax-group {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 20em;
	z-index: 4;
}

.main {
	z-index: 1;
	position: relative;
}

.bg-par {
	background-color: #ccc;
	padding-top: 2em;
	padding-bottom: 2em;
	overflow: hidden;
	display: none;
}

.back-img {
	-webkit-transform: translateZ(-.4px) scale(.45);
	transform: translateZ(-.4px) scale(.45);
	position: absolute;
	top: -100%;
	right: 45%;
	z-index: 1;
}

.back-img-2 {
	-webkit-transform: translateZ(-.2px) scale(.35);
	transform: translateZ(-.2px) scale(.35);
	position: absolute;
	right: 0%;
	top:-100%;
}


.back-img-3 {
	-webkit-transform: translateZ(-.3px) scale(.4);
	transform: translateZ(-.3px) scale(.4);
	position: absolute;
	right: -42%;
	top:-100%;
}

.front {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}

.banner {
	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
}

.banner img {
	display: block;
}

.banner-heading {
	color: #464646;
	position: absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.navigation-list {
	width: 100%;
	text-align: center;
}

.navigation-list li {
	display: inline-block;
}

.navigation-list a {
	background-color: #464646;
	text-decoration: none;
	color: #ccc;
	padding-top: .5em;
	padding-bottom: .5em;
}

.navigation-list a:hover {
	background-color: #6B6B6B;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.border-nav{
	border-left: solid  1px black;
	border-right: solid 1px black;
}

.section-1-aboutme {
	display: none;
	padding-top: 10em;
	padding-bottom: 10em;
	background-color: #B1B1B1;
	padding-left: .5em;
	padding-right:.5em;
	overflow: hidden;
}

.section-1-aboutme img{
	display: block;
	padding: .1em;
}

.section-1-aboutme p {
	font-size: 80%;
}

.intro {
	margin: 0;
	font-size: 600;
}

.social-media {
	text-align: center;
	position: relative;	
}

.social-media a {
	display: block;
}

.section-3 {
	display: block;
	padding-top:5em;
	padding-bottom: 5em;
}

.tab {
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 4em;
	background-color: #464646;
	position: relative;
	bottom: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.tab:hover {
	transform:translateY(-20%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	background-color: #6B6B6B;
	box-shadow: 2px 6px 15px black;
}

.container {
	width: 6%;
	height: 400px;
	display: inline-block;
	/*float: left;*/
	margin-right: 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
	padding: 0;
	margin: 0;	
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.expanding-divs {
	text-align: center;
	overflow: hidden;
	padding-top: 10em;
	padding-bottom: 10em;
	background-color: #E7E7E7;
}

.expanding-divs a {
	text-decoration: none;
}

.container:hover,
.container:focus,
.container:active {
	width: 30%;
	-webkit-transition: all 100ms alternate;
	transition: all 100ms alternate;
	-webkit-filter:none;
	filter:none;
}

.bg-1 {
	background: url("http://placehold.it/600x1200/666666");
	background-repeat: no-repeat;
 	position: relative;
	overflow: hidden;
}


.bg-2 {
 	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.bg-3 {
 	background: url("http://placehold.it/600x1000/666666");
 	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
}

.bg-4 {
	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.bg-5 {
	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.bg-6 {
	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.bg-7 {
	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.bg-8 {
	background: url("http://placehold.it/600x1000/666666");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.expanding-divs {
	display: none;
}

.center-tabs a {
	color:black;	
	font-size: 120%;
	color: #ccc;
}

.tab-bg {
	width: 100%;
	height: 10em;
	position: absolute;
	top: 91%;
	background-color:  #464646;
}

.footer {
	width: 100%;
	background-color: #464646;
}

.middle-banner img {
	display: block;
}

.pop-info {
	position: absolute;
	bottom: -6%;
	height: 1%;
	width: 100%;
	background-color: rgba(0,0,0, 0.1);
	padding-top: 45%;
	overflow: hidden;
}

.pop-info:hover {
	height: 20%;
	
}

.expand-text-1{
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0;	
}

.expanding-divs a {
	color: black;
}

.expanding-divs p {
	font-family: 'Catamaran', sans-serif;
}

.small-none-nav {
	display: none;
}

.navigation-pages {
	display: inline-block;
	float: right;
}

.navigation-pages-on {
	background-color: #5F5F5F;
}

.navigation-pages li {
	display: inline-block;
	position: relative;
	top:1.5em;
	margin-left: 1em;
}

.navigation-pages a {
	color: white;
	text-decoration: none;
	padding-top: .25em;
	padding-left: .5em;
	padding-right: .5em;
}

.logo {
	height: 3em;
	width: 10%;
	position: absolute;
	background-color: #ccc;
}

header {
	background-color: #464646;
	height: 3em;
}

.nav-gd-none{
	display: none;
}


.nav-bg-large-none {
	text-align: center;
	background-color: #ccc;
	padding-top: .5em;
	padding-bottom: .5em;
}

.nav-bg-large-none a {
	color: black;
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.height-grid {
	text-align: center;
}

.fill-unit {
	display: none;
}

.fixed-nav {
	width: 100%;
	z-index: 1;
}

.portfolio-page-spacing {
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio-page-spacing:hover {
	-webkit-filter:none;
	filter:none;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.gd-title {
	margin-top: 4em;
	margin-bottom: 0;	
	text-align: center;
	font-size: 200%;
	font-weight: 800;
}

.proj-images img{	
	padding-left:.5em;
	padding-right:.5em;
	padding-bottom: .05em;
	display: block;
}

.intro-spacing {
	padding-top: 4em;
	padding-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.back-to-top {
	width: 10%;
}

.copyright {
	text-align: center;
	margin: 0;
	font-size: 70%;
	color: white;
}

.skip-links {
	margin:  0;
	padding: 0;
	list-style-type: none;
}

.skip-links a{
	position: absolute;
	z-index: 1;
	top: -3em;
	padding: .5em;
	background: black;
	color: white;
	text-decoration: none; 
}

.skip-links a:focus {
	top: 0em;
}

.small-images-index {
	padding: .25em;
	margin-bottom: 4em; 
}

.small-images-index img{
	display: block;
	padding: .05em;
}

.items-title-small {
	margin-top: 4em;
	margin-bottom: 0;
}

.item-information {
	/*width: 30%;*/
	position: relative;
	top: 4em;
	padding-left: .5em;
}

.select-item-images {
	padding-left: 3em;
	padding-right: 3em;
	margin-top:4em; 
	text-align: center;
}

.select-item-images img {
	width: 60%;
}

.item-title {
	margin:0;
	line-height: 1;
}

.info-content {
	font-size: 70%;
	margin: 0;
}

.fixed-test {
	height: 2000px;
}

@media only screen and (min-width: 25em) {

	.nav-gd-none{
		display: block;
}

	.nav-bg-large-none{
		display: none;
}
	.proj-images img{
		padding-left:2em;
		padding-right:2em;
}
}

@media only screen and (min-width: 38em) {
	.small-images-index {
		display: none;	
}

	.items-title-small {
		display: none;
}
	.expanding-divs {
		display: block;
	}

	.small-none-nav {
		display: block;
	}

	.navigation-list {
		display: none;	
	}
	

	.fill-unit {
		display: block;
}

	.proj-images img{
		padding: .05em;
		display: block;
}

	.tab-bg {
		top: 91%;
}

	.section-1-aboutme {
		display: block;
}

	.bg-par {
		display: block;
}

	.intro-spacing {
		width: 50%;
}
}

@media only screen and (min-width: 60em) {

	.pop-info {
		bottom:-9%;
	}
	.tab-bg {
		top: 93%;
}

	.proj-images img{
		padding-left:.05em;
		padding-right:.05em;
}
}

@media only screen and (min-width: 90em) {

	.pop-info {
		bottom:-12%;
	}
}

@media only screen and (min-width: 100em) {

	.pop-info {
		bottom:-15%;
	}

	.container {
		height: 514px;
	}
}

@media only screen and (min-width: 125em) {
	
	.container:hover {
		width: 25%;
}
}


@media only screen and (min-width: 150em) {
	.container:hover {
		width: 20%;
}
}
