@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;

}

.banner {
	position: relative;
	overflow: hidden;
}

.banner-heading {
	position: absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);


}

.holder {
	width: 10%;
	float: left;
	background-position: center;
	background-size: 100%;
	min-height:700px;
	white-space: no-wrap;
	transform-origin: center center;
	filter: blur(40px);
}



.image-container {
	width: 100%;
	margin: 0 auto;
	white-space: no-wrap;
	text-align: center;
	margin-top:20em;

	
}

.holder:hover {
	width: 40%;
	filter: none;
	-webkit-transition: 300ms linear;
	transition: 300ms linear;
}

.section-3-info {
	display: block;
	flex-flow:none; 

}

.hold-img-1{
	background: url("http://placehold.it/200x1000/666666");
}
.hold-img-2{
	background: url("http://placehold.it/200x1000/333333");

}
.hold-img-3{
	background: url("http://placehold.it/200x1000/777777");
}
.hold-img-4{
	background: url("http://placehold.it/200x1000/111111");
}
.hold-img-5{
	background: url("http://placehold.it/200x1000/CCCCCC");
}
.hold-img-6{
	background: url("http://placehold.it/200x1000/555555");
}
.hold-img-7{
	background: url("http://placehold.it/200x1000/222222");
}