@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

	overflow: hidden;
	position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	-webkit-perspective: 1px;
	perspective: 1px;
}

main {
	position: relative;
	min-height: 100vh;
	padding-bottom: 5em;
}

img {
	width: 100%;
}

.pad-main {
	padding-left: 10%;
	padding-right: 10%;
}

.vid {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.vid-ratio {
	padding-top: 56.25%;
}

.vid-pos {
	position: relative;
	top: 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 10em;
	width: 80%;
}

.wb-border {
	border: 2px solid black;
}

.wb-border-red {
	border: 5px solid #b75955;
}

.light-bg {
	background-size: cover;
	text-align: center;
	height: 186vh;
}

#lightbox {
	position: absolute;
	top: -130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	overflow: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 1;
}

#lightbox:target {
	width: 100%;
	/*max-width: 40em ;*/
	background-color: rgba(0,0,0, .8);
}

#lightbox-two:target {
	width: 100%;
	/*max-width: 40em ;*/
	background-color: rgba(0,0,0, .8);
}

#lightbox-three:target {
	width: 100%;
	/*max-width: 40em ;*/
	background-color: rgba(0,0,0, .8);
}

#lightbox-four:target {
	width: 100%;
	/*max-width: 40em ;*/
	background-color: rgba(0,0,0, .8);
}

#lightbox-five:target {
	width: 100%;
	/*max-width: 40em ;*/
	background-color: rgba(0,0,0, .8);
}


.l-image {
	width: 100%;
	padding-top: 9em;
	padding-bottom: 20em;
	max-width: 40em;
}


.x-image {
	width: 40%;
	display: block;
	max-width: 11em;
	position: relative;
	top: 1em;
}

#lightbox-two {
	position: absolute;
	top: -130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	overflow: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 1;
}


#lightbox-three {
	position: absolute;
	top: -130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	overflow: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 1;
}


#lightbox-four {
	position: absolute;
	top: -130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	overflow: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 1;
}

#lightbox-five {	
	position: absolute;
	top: -130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	overflow: hidden;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
	z-index: 1;
}

.parallax-banner {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.large-b {
	display: none;
}

.small-b {
	display: block;
}

.image-back-parallax {
	-webkit-transform: translateZ(-.5px) scale(1.5);
	transform: translateZ(-.5px) scale(1.5);
	width: 100%;
	display: block;
	position: relative;
	z-index: -1;
}

.parallax-header {
	position: absolute;
	top: 15%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
}

.par-vis {
	display: none;
}

.banner {
	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
}

.banner img {
	z-index: 10;
}

.banner-heading {
	width: 20%;
	left: 20%;
	top: 10%;
	color: #FFFDF3;
	position: absolute;
	font-size: 250%;
	text-align: left;
	line-height: .9;
	z-index: 24;
}

.ben-2 {
	width: 53%;
	position: absolute;
}

.navigation-list {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 100;
}

.bord {
	border: 1px solid black;
}

.navigation-list li {
	display: inline-block;
}

.navigation-list a {
	background-color: #405d77;
	text-decoration: none;
	color: #ccc;
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 85%;
}

.border-nav {
	border-left: solid  1px #31485D;
	border-right: solid 1px #31485D;
}

.section-1-aboutme {
	display: none;
	padding-top: 10em;
	padding-bottom: 10em;
	background-color: #B1B1B1;
	padding-left: .5em;
	padding-right:.5em;
	overflow: hidden;
}

.section-1-aboutme img{
	display: block;
	padding: .1em;
}

.intro {
	margin: 0;
	font-size: 190%;
	padding-left: 1em;
	color: #405d77;
}

.social-media {
	text-align: center;
	position: relative;	
}

.center-intro {
	width: 85%;
	color: #405d77;
	padding-left: 2em;
}

.social-media a {
	display: block;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 160%;
}

.section-3 {
	display: block;
	padding-top:5em;
	padding-bottom: 5em;
}

.tab-1 {
	left:5%;
}

.tab-2 {
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.tab-3 {
	left:61%;
}

.tab {
	display: inline-block;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 1em;
	background-color: #405d77;
	position: absolute;
	bottom: 0px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.tab:hover,
.center-tabs a:focus .tab {
	padding-bottom: 2.5em; 
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	background-color: #53718C;
	box-shadow: 2px 6px 15px black;
}

.container {
	width: 6%;
	height: 400px;
	display: inline-block;
	margin-right: 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
	padding: 0;
	margin: 0;	
	-webkit-filter: brightness(30%);
	filter: brightness(30%);

}

.expanding-divs {
	text-align: center;
	overflow: hidden;
	padding-top: 10em;
	padding-bottom: 10em;
	background-color: #ECECEC;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
	
}

.expanding-divs a {
	text-decoration: none;
}

.container:hover,
.expanding-divs a:focus .container,
.container:active {
	width: 30%;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
	-webkit-filter:none;
	filter:none;
}

.work-title {
	font-size: 5rem;
	color: #b75955;
}

.bg-1 {
	background: url("../images/iso-container-01.jpg");
	background-repeat: no-repeat;
 	position: relative;
	overflow: hidden;
	background-size: 40em;
	background-position: 0% 35%; 

	background-color: #ccc;
}

.bg-2 {
 	background: url("../images/type-poster-b.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-size: 30em;
 
	background-position: 30% 60%; 

	background-color: #ccc;
}

.bg-3 {
 	background: url("../images/tactile-motion-screen.jpg");
 	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
  	background-size: 45em;
	background-position: 65% 0%; 

	background-color: #ccc;
}

.bg-4 {
	background: url("../images/robotic-mech.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
 
	background-position: 30% 60%; 

	background-color: #ccc;
}

.bg-5 {
	background: url("../images/napolean-bust-study.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
 
	background-position: 30% 60%;
	background-size: 35em;

	background-color: #ccc;
}

.bg-6 {
	background: url("../images/beacon-app.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-size: 40em;

	background-color: #ccc;
}

.bg-7 {
	background: url("../images/ben-mech-render.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-size: 40em;
	background-position: 60% 0%; 

	background-color: #ccc;
}

.bg-8 {
	background: url("../images/blackland-sell-sheet.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-size: 29em;

	background-color: #ccc;
}

.expanding-divs {
	display: none;
	position: relative;
	z-index: 1;
}

.center-tabs a {
	color:black;	
	font-size: 120%;
	color: #E4E3DE;
}

.tab-bg {
	width: 100%;
	height: 4em;
	position: absolute;
	top: 91%;
	background-color:  #405d77;
	z-index: 33;
}

.footer {
	width: 100%;
	background-color: #b75955;
	position: absolute;
	margin-top: 15%;
	padding-bottom: 3em;
	bottom: 0;
}

.contact {
	color: #FFFDF3;
	margin: 0;
	font-weight: 600;
	text-align: right;
	padding-right: 1em;
	position: absolute;
	bottom: 18%;
	left: 1%;
	text-decoration: none;
	z-index: 60;
}

.contact a {
	text-decoration: none;
}

.middle-banner img {
	display: block;
}

.pop-info {
	position: absolute;
	bottom: -6%;
	height: 1%;
	width: 100%;
	background-color: rgba(0,0,0, 0.5);
	padding-top: 45%;
	overflow: hidden;
}

.pop-info:hover {
	height: 20%;
}

.expand-text-1{
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0;	
	color: white;
}

.expanding-divs a {
	color: black;
}

.expanding-divs p {
	font-family: 'Catamaran', sans-serif;
}

.small-none-nav {
	display: none;
}

.navigation-pages {
	display: inline-block;
	float: right;
}

.navigation-pages-on {
	background-color: #53718C;
}

.navigation-pages li {
	display: inline-block;
	position: relative;
	top:1.2em;
	margin-left: 1em;
}

.navigation-pages a {
	color: white;
	text-decoration: none;
	padding-top: .25em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .25em;
}

header {
	background-color: #405d77;
	height: 3em;
}

.nav-gd-none{
	display: none;
}

.nav-bg-large-none {
	text-align: center;
	background-color: #b75955;
	padding-top: .5em;
	padding-bottom: .5em;
}

.nav-bg-large-none a {
	color: #FFFDF3;
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.height-grid {
	text-align: center;
}

.fill-unit {
	display: none;
}

.fixed-nav {
	width: 100%;
	z-index: 1;
}

.back-scale {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;

	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.back-scale:hover {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;

	-webkit-filter: brightness(30%);
	filter: brightness(30%);
}

.portfolio-page-spacing {
	overflow: hidden;
	position: relative;

	-webkit-filter: none;
	filter: none;
	padding: .1em;
}

.portfolio-page-spacing:hover {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.gd-title {
	margin-top: 1em;
	margin-bottom: 0;	
	text-align: center;
	font-size: 200%;
	font-weight: 800;
}

.proj-images img {
	display: block;
}

.proj-images {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 2em;
}

#grid-contain #box-title {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.scroll {
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;

	text-align: center;
}

#grid-contain:hover #box-title {
	top: 40%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.grid-heading-title {
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
	color: white;
	font-size: 120%;
}

.grid-heading-title {
	color: white;
}

.p-images {
	display: block;
}

.grid-image-item img {
	display: block;
}

.grid-image-item {
	padding: .5em;
}

/*palette*/

.black {
	color: black;
}

.white {
	color: white;
}

.red {
	color: #b75955;
}

.blue {
	color: #405d77;
}

.grey {
	color: #434c54;
}

.beige {
	color: #ede6c5;
}

.lightred {
	color: #ea9d9b;
}

.lightblue {
	color: #8bafc6;
}

.lightgrey {
	color: #97a5af;
}

.lightbeige {
	color: #ede6c5
}

.lightred {
	color: #ea9d9b;
}

.lightblue {
	color: #8bafc6;
}

.lightgrey {
	color: #97a5af;
}

.lightbeige {
	color: #ede6c5
}

/*palette*/

.intro-spacing {
	padding-top: 4em;
	padding-bottom: 4em;
	width: 100%;
	background-color: #FFFDF3;
	position: relative;
	z-index: 6;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.back-to-top {
	text-decoration: none;
	font-weight: 600;
	font-size: 100%;

	width: 10%;
	text-align: center;
}

.type-graphic{
	position: relative;
	top: 4em;
}

.copyright {
	text-align: center;
	margin: 0;
	color: white;
	position: absolute;
	bottom: 0%;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	white-space: nowrap;
}

.skip-links {
	margin:  0;
	padding: 0;
	list-style-type: none;
}

.skip-links a{
	position: absolute;
	z-index: 1;
	top: -3em;
	padding: .5em;
	background: black;
	color: white;
	text-decoration: none; 
}

.skip-links a:focus {
	top: 0em;
}

.small-images-index {
	padding: .25em;
	margin-bottom: 4em; 
}

.small-images-index img {
	display: block;
	padding: .05em;
}

.items-title-small {
	margin-top: 4em;
	margin-bottom: 0;
}

.item-title {
	margin-top: 1em;
	/*padding-left: 2em;*/
	margin-bottom: 0;
	text-align: center;
}

.fixed-test {
	height: 2000px;
}

.spool-left {
	position: absolute;
	top: 14%;
	left: 19%;
	width: 20%;
	-webkit-animation: rotatespool 2s infinite;
	animation: rotatespool 2s infinite;
}

@-webkit-keyframes rotatespool {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotatespool {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

.spool-right {
	position: absolute;
	top: 14%;
	left: 40%;
	width: 20%;
	-webkit-animation: rotatespool-right 1s linear infinite;
	animation: rotatespool-right 1s linear infinite;
}

@-webkit-keyframes rotatespool-right{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotatespool-right{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.computer-container {
	position: relative;
}

.info-content {
	width: 100%;
	padding-left: 10%;
	padding-top: 2em;
	padding-right: 10%;
}

.computer-404 {
	width: 60%;
	text-align: center;
	display: block;
	position: relative;
	left: 4%;

	margin-left: auto;
	margin-right: auto;
}

.info-404 {
	color: #b75955;
	position: relative;
	text-align: center;
	top: 1em;
}

@media only screen and (min-width: 25em) {

	.nav-gd-none {
		display: block;
	}

	.nav-bg-large-none {
		display: none;
	}
	.proj-images img {	
	}

	.navigation-list a {
		font-size: 100%;
	}
	.ben-2 {
		width: 25%;
		top: 0%;
	}
	#lightbox {
		top: -100px;
	}

	#lightbox-two {
		top: -100px;
	}

	#lightbox-three {
		top: -100px;
	}

	#lightbox-four {
		top: -100px;
	}

	#lightbox-five {
		top: -100px;
	}
}

@media only screen and (min-width: 38em) {

	.info-content {
		padding-left: 20%;
		padding-right: 20%;
	}

	.center-intro {
	width: 50%;
	color: #405d77;
	padding-left: 2em;
	}

	.small-images-index {
		display: none;	
	}

	.tab {
		bottom: 10px;
	}

	.items-title-small {
		display: none;
	}

	.expanding-divs {
		display: block;
	}

	.small-none-nav {
		display: block;
	}

	.navigation-list {
		display: none;	
	}

	.fill-unit {
		display: block;
	}

	.proj-images img {		
		display: block;
	}

	.tab-bg {
		top: 86%;
	}

	.section-1-aboutme {
		display: block;
	}

	.bg-par {
		display: block;
	}

	.intro-spacing {
		width:100%;
	}

	.back-img {
		top: -45%;
	}

	.back-img-2 {
		top: -38%;
	}

	.back-img-3 {
		top: -42%;
	}

	.tab-1{
		left:4%;
	}

	.tab-3 {
		left: 65%;
	}

	.par-vis {
		display: block;
	}

	.banner-heading {
		font-size: 400%;
	}

	.info-content {
		padding-left: 20%;
	}

	.gd-title {
		font-size: 280%;
	}

	.ben-2 {
		width: 30%;
		top: 0%;
	}

	.large-b {
		display: block;
		position: relative;
		top: -2em;
	}

	.small-b {
		display: none;
	}

	.light-bg {
		height: 207vh;
	}	
}

@media only screen and (min-width: 46em) {

	#lightbox:target {
		/*width: 50%;*/
	}

	#lightbox-two:target {
		/*width: 50%;*/
	}

	.tab-bg {
		top: 87%;
	}

	.parallax-group {
		height: 27em; 
	}

	.tab-1 {
		left:10%;
	}

	.tab-3 {
		left: 62%;
	}

	.banner-heading {
		font-size: 500%;
	}

	.pad-main {
		padding-left: 20%;
		padding-right: 20%;
	}

	.back-to-top {
		font-size: 200%;
	}

	.ben-2 {
		top: -1%;
	}

	.light-bg {
		height: 200vh;
	}
}

@media only screen and (min-width: 60em) {

	.pop-info {
		bottom:-9%;
	}

	.tab-bg {
		top: 90%;
	}

	.parallax-group {
		height: 31em; 
	}

	.tab-1 {
		left:12%;
	}

	.tab-3 {
		left: 61%;
	}

	.banner-heading {
		font-size: 600%;
	}

	.info-content {
		padding-left: 30%;
		padding-right: 30%;
	}

	.center-intro li {
		text-align: center;
	}	

	.ben-2 {
		width: 20%;
		top: 0%;
	}

	.light-bg {
		height:241vh;
	}

	.contact{
		bottom: 14%;
	}
}

@media only screen and (min-width: 72em) {

	.tab-1 {
		left: 16%;
	}

	.pad-main {
	padding-left: 23%;
	padding-right: 23%;
	}

	.parallax-header {
		width: 80%;
	}

	.light-bg {
		height: 250vh;
	}
}

@media only screen and (min-width: 80em) {
	
	.parallax-group {
		height: 35em; 
	}

	.tab-bg {
		top: 92%;
	}

	#lightbox:target {
	/*width: 50%;*/
	}

	#lightbox-two:target {
	/*width: 50%;*/
	}

	.bg-8 {
		background-size: 36em;
	}

	.tab-1 {
		left: 17%;
	}
	.light-bg {
		height: 270vh;
	}
}

@media only screen and (min-width: 90em) {

	.pop-info {
		bottom:-12%;
	}

	.parallax-group {
		height: 35em; 
	}

		.tab-bg {
		top: 92.5%;
	}

	.center-intro {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}

	.intro {
		text-align: center;
	}

	.tab-1 {
		left: 18%;
	}

	.ben-2 {
		width: 20%;
		top: -1%;
	}
	.light-bg {
		height: 290vh;
	}
}

@media only screen and (min-width: 100em) {

	.pop-info {
		bottom:-15%;
	}

	.container {
		height: 514px;
	}

	.parallax-group {
		height: 45em; 
	}

	.tab-bg {
		top: 93%;
	}

	.tab-1 {
		left: 19%;
	}

	.intro:first-child{
		font-size: 300%;
	}

		.ben-2 {
		width: 17%;
		top: -2%;
	}
}

@media only screen and (min-width: 110em) {
	.tab-bg {
		top: 94.5%;
	}

	.tab-1 {
		left: 20%;
	}

	.banner-heading {
		font-size: 900%;
	}

	.l-image {
		max-width: 55em;
	}
}

@media only screen and (min-width: 125em) {
	
	.container:hover {
		width: 25%;
	}

	.parallax-group {
		height: 48em; 
	}

	.center-intro {
		width: 30%;
	}

	.banner-heading {
		font-size: 1000%;
	}

	.info-content {
		padding-left: 35%;
		padding-right: 35%;
	}

	.ben-2 {
		width: 15%;
		top: -2%;
	}
}

@media only screen and (min-width: 135em) {
	.parallax-group {
		height: 54em; 
	}

	.l-image {
		max-width: 65em;
	}
}

@media only screen and (min-width: 150em) {
	.container:hover {
		width: 20%;
	}

	.parallax-group {
		height: 57em; 
	}
}
