<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} {% endif %}</title>
  <meta name="description" content="Ben Marley Design; Creating and Inspiring">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="images/favicon-16.png">

  	<meta property="og:type" content="article">
  	<meta property="og:title" content="Ben Marley – Designing For the Future - Ottawa, Canada">
  	<meta property="og:url" content="http://benmarleydesign.ca">
  	<meta property="og:image" content="images/#.jpg">
  	<meta property="og:site_name" content="Ben Marley Design">
  	<meta property="og:description" content="The portfolio site of Ben Marley">

  	<meta name="twitter:card" content="Designing for the Future">
  	<meta name="twitter:title" content="Ben Marley – Designing For the Future - Ottawa, Canada">
  	<meta name="twitter:url" content="http://benmarleydesign.ca">
  	<meta name="twitter:description" content="The portfolio site of Ben Marley">
  	<meta name="twitter:image" content="images/#">


</head>


	{% include skip-links.html %}

{{content}}


</html>